:root {
    --fonte-padrao: 'Vast Shadow', cursive;
    --cor-primaria: #865DFF;
    --cor-secundaria: #191825;
}

body {
    font-family: var();
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    font-size: 24px;
}