@import 'variable';

header {
    input {
        display: none;
    }
    label {
        background: $icone-modo;
        padding: 50px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: 70px;
        top: 10px;
        left: 10px;
        cursor: pointer;
        transition: 2s;
        
    }

   
}

.modoclaro {
    color: #AD7BE9;
    background-color: #3E54AC;
    transition: 1s;
    label{
        background: url('../img/night.png');
        padding: 50px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: 45px;
        top: 10px;
        left: 10px;
        cursor: pointer;
        transition: 2s;
    }
}
