@import 'variable';
@import 'header';


body {
    background-color: $cor-secundaria;    

    main {
        font-family: $fontepadrao;
        color: $cor-primaria;
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        transition: 2s;
        height: 90vh;
    
    
        h1 {
            font-size: 4em;
        }
        h3 {
            margin-top: 10px;
           font-size: 2em; 
        }
        .mensagem {
            font-size: 1.5em;
            margin-top: 20px;
    
            .box {
                border: 2px solid $cor-primaria;
                border-radius: 10px;
                margin: 20px;
                display: inline-block;
                font-size: 3em;
            }
        }
    
        #buttonStart{
            font-family: $fontepadrao;
            background-color: transparent;
            padding: 10px;
            color: #7DB9B6;
            border: 2px solid white;
            border-radius: 10px;
            margin-top: 10px;
            cursor: pointer;
            &:hover {
                background-color: $cor-primaria
            }
        }
        
        
    }
    
    
}


@media screen and (max-width: 480px) {

    body {
        header {
            width: 100vw;
            height: 20vh;
            .chances{
                p{
                    padding-right: 10px;
                    font-size: 30px;
                    color: white;
                    margin: 10px;
                }
            }
        }
        main {
            height: 80vh;
            justify-content: start;
            h1{
                font-size: 65px;
            }
            h3 {
                font-size: 18px;
            }
            .mensagem {
                font-size: 18px;
                .box{
                    margin: 30px 0px;
                    width: 95vw;
                    overflow-wrap: break-word;
                }
            }
            .acertou {
                margin: 10px 0px;
                font-size: 20px;
                width: 99vw;
                overflow-wrap: break-word;
                text-align: center;
                
            }
        }
    }
}
