/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}
header .chances {
  text-align: center;
}
header .chances p {
  font-family: "Vast Shadow", cursive;
  color: whitesmoke;
  padding-right: 100px;
  font-size: 48px;
}
header input {
  display: none;
}
header label {
  background: url("../img/summer.png");
  padding: 50px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 70px;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: 2s;
}

.modoclaro {
  color: #AD7BE9;
  background-color: #3E54AC;
  transition: 1s;
}
.modoclaro label {
  background: url("../img/night.png");
  padding: 50px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 45px;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: 2s;
}

body {
  background-color: #191825;
}
body main {
  font-family: "Vast Shadow", cursive;
  color: #865DFF;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  transition: 2s;
  height: 90vh;
}
body main h1 {
  font-size: 4em;
}
body main h3 {
  margin-top: 10px;
  font-size: 2em;
}
body main .mensagem {
  font-size: 1.5em;
  margin-top: 20px;
}
body main .mensagem .box {
  border: 2px solid #865DFF;
  border-radius: 10px;
  margin: 20px;
  display: inline-block;
  font-size: 3em;
}
body main #buttonStart {
  font-family: "Vast Shadow", cursive;
  background-color: transparent;
  padding: 10px;
  color: #7DB9B6;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}
body main #buttonStart:hover {
  background-color: #865DFF;
}

@media screen and (max-width: 480px) {
  body header {
    width: 100vw;
    height: 20vh;
  }
  body header .chances p {
    padding-right: 10px;
    font-size: 40px;
    color: white;
  }
  body main {
    height: 80vh;
    justify-content: start;
  }
  body main h1 {
    font-size: 20px;
  }
  body main h3 {
    font-size: 30px;
  }
  body main div {
    font-size: 18px;
  }
}
header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}
header .chances {
  text-align: center;
}
header .chances p {
  font-family: "Vast Shadow", cursive;
  color: whitesmoke;
  padding-right: 100px;
  font-size: 48px;
}
header input {
  display: none;
}
header label {
  background: url("../img/summer.png");
  padding: 50px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 70px;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: 2s;
}

.modoclaro {
  color: #AD7BE9;
  background-color: #3E54AC;
  transition: 1s;
}
.modoclaro label {
  background: url("../img/night.png");
  padding: 50px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 45px;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: 2s;
}

.invalido {
  color: #E96479;
}

.acertou {
  color: #7DB9B6;
  font-size: 86px;
}/*# sourceMappingURL=style.css.map */